<!--<h1>Admin::Items#edit</h1>-->
<!--<p>Find me in app/views/admin/items/edit.html.erb</p>-->




<!--https://qiita.com/japwork/items/e258ccbbe4f48ea5a3b5-->
<!--config/routes.rb書きかえるかも-->
<!--patch 'admin/items/:id' => 'admin/items#update', as: 'update_admin_item'-->
          <%#= form_with model: @item, url: admin_item_path(@item), method: :patch, do |f| %>
          <%= form_for(@item, url: admin_item_path) do |f| %>
            <h5>商品画像</h5>
              <%= f.file_field :image, accept: "image/*" %>
            <h5>お名前</h5>
              <%= f.text_field :name %>
            <h5>紹介文</h5>
              <%= f.text_area :introduction %>
            <h5>指名価格</h5>
              <%= f.text_field :price, autofocus: true %>
            <h5>本日のシフト</h5>
              <%= f.select :is_active, ["出勤中", "お休み"] %>
            
            <div><%= f.submit :変更を保存, class: "btn btn-primary" %></div>
            
          <% end %>