<!--<h1>Admin::Items#new</h1>-->
<!--<p>Find me in app/views/admin/items/new.html.erb</p>-->

<div class="container">
  <div class="row">
    

      <%= form_with model: @item, url: '/admin/items', method: :post do |f| %>
        <h5>商品画像</h5>
          <%= f.file_field :image, accept: "image/*" %>

    

            <h5>お名前</h5>
              <%= f.text_field :name %>
            <h5>紹介文</h5>
              <%= f.text_area :introduction %>
            <h5>指名価格</h5>
              <%= f.text_field :price, autofocus: true %>
            <h5>本日のシフト</h5>
              <%= f.select :is_active, ["出勤中", "お休み"] %>
            <%= f.submit '新規登録', class: "btn btn-primary" %>
            
          <% end %>


  </div>
</div>