<!--<h1>Admin::Items#show</h1>-->
<!--<p>Find me in app/views/admin/items/show.html.erb</p>-->


          <div class="container">
            <!--<h2>商品詳細</h2><br>-->
              <div class="row">
                  <div class="col-xs-4">
                    <% if @item.image.attached? %>
                      <%= image_tag @item.image, size: "300x300" %>
                    <% else %>
                      <%= image_tag 'no_image', size: "300x300" %>
                    <% end %>
                  </div>
              </div>
          </div>
          
          
          
              
            <div class="col-xs-8">
              
                <h5>お名前
                  <%= @item.name %>
                </h5>
              
              
              <!--<div>-->
                <h5>紹介文
                  <%= @item.introduction %>
                </h5>
              <!--</div>-->
              
              <!--<div>-->
              <!--</div>-->
              
              <!--<div>-->
                <h5>指名価格
                  <%= @item.price %>円
                </h5>
              <!--</div>-->
              
              <!--<div>-->
                <h5>本日のシフト
                <!--  <%#= @item.is_active,  %>-->
                <td class="td-statu">
              
                <% if @item.is_active = false %>
                  
                  <p>お休み</p>
                  
                  <% else %>
                  
                  <P>出勤中</P>
                  
                  <% end %>
                </h5>
              <!--</div>-->
              
            </div>
              
              <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-primary", style: "margin: 0 auto;" %>
              