<div class="container">
  <div class="row">
    <h3 class="page-name">注文履歴詳細</h3>
  </div>

  <div class="row">
    <table>
      <tr>
        <th>購入者</th>
        <td><%= @order.customer.first_name %><%= @order.customer.last_name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          〒<%= @order.postal_code %><%= @order.address %></br>
          <%= @order.name %>
        </td>
      </tr>
      <tr>
        <th>支払い方法</th>
        <td>
          <% if @order.payment_method = 0 %>
            <p>クレジットカード</p>
          <% else %>
            <p>銀行振込</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <table class="table table-hover table-inverse col-lg-8">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.price * order_detail.amount %></td>
          <td></td>
          <% @sum += order_detail.price * order_detail.amount %>
        </tr>
      <% end %>
      </tbody>
    </table>

    <div class=" col-lg-1">

    </div>

    <table class="col-lg-3">
      <tr>
        <th>商品合計</th>
        <td><%= @order.total_payment %>円</td>
      </tr>
      <tr>
        <th>送料</th>
        <td><%= @order.shipping_cost %>円</td>
      </tr>
      <tr>
        <th>請求金額合計</th>
        <td><%= @order.shipping_cost + @order.total_payment %>円</td>
      </tr>
    </table>
  </div>

</div>