<div class="container"><!--きむこーが作成-->

    <h2>注文履歴一覧</h2>
      <div class="col-xs-10 col-xs-offset-1"style="margin-top: 50px;">
        <table class="table">
          <thead>
            <tr class="table-head" style="background-color:#F5F5F5;">
              <th scope="col">購入日時</th>
              <th scope="col">購入者</th>
              <th scope="col">注文個数</th>
              <th scope="col">注文ステータス</th>
            </tr>
          </thead>

          <tbody>
           <% @orders.each do |order| %>
                <tr>
                  <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
                  <td>
                    <p><%= order.postal_code %>&emsp;<%= order.address %></p>
                    <p><%= order.name %></p>
                  </td>
                  <td>
                  <% order.orders.all.each do |p| %>
                    <p><%= p.name %></p>
                  <%end %>
                  </td>
                  <td><%= order.total_payment %>円</td>
                  <td><%= order.status %></td>
                  <td>
                  <%= link_to "表示する", order, class: 'btn btn-primary' %>
                  </td>
                </tr>
              <% end %>
          </tbody>

        </table>
      </div>
</div>