<div class="container px-5 px-sm-0">
  <h2>注文情報確認</h2>

  <div class="row">
    <div class="col-lg-8">
      <table class="table table-bordered">
        <thead>
          <tr class="table-secondary">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
           <% current_customer.cart_items.each do |cart_item|%>
            <tr>
              <th><%= cart_item.item.name %></th>
              <th><%= cart_item.item.price.to_s(:delimited) %></th>
              <th><%= cart_item.amount %></th>
              <th><%= ((cart_item.item.price * 1.10).floor * cart_item.amount).to_s(:delimited) %></th>
          <% end %>
         </tbody>
      </table>
    </div>
    <div class = "col-sm-3">
      <table class="table">
        <thead>
          <tr>
            <th>送料</th><td><%= 800 %>円</td>
          </tr>
          <tr>
            <th>商品合計</th><td><%= @sum %>円</td>
          </tr>
          <tr>
            <th>請求金額</th><td><%= @sum + 800 %>円</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
    <div class = "cofirm">
      <h4 style="display:inline">支払方法</h4>
      <div style="display:inline">
        <% if @payment_method == "transfer" %>
          <%= Order.payment_methods_i18n[:transfer] %>
        <% else %>
          <%= Order.payment_methods[:credit_card] %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
        <label for="user_name"><strong>お届け先</strong></label>
        <%= @order.postal_code %> <%= @order.address %><br>
        <%= @order.name %>
    </div>
      </div>
  <%= form_with model:@order, url: public_orders_path, method: :post do |f|%>
    <%= f.hidden_field :name, :value => @order.name %>
    <%= f.hidden_field :address, :value => @order.address %>
    <%= f.hidden_field :postal_code, :value => @order.postal_code %>
    <%= f.hidden_field :total_payment, :value => @total_payment %>
    <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    <%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
    <div class="d-flex justify-content-center">
      <%= f.submit "注文を確定する", class:"btn btn-success" %>
    </div>
  <% end %>