<% if @delivery.errors.any? %>
<%= @delivery.errors.count %>件のエラーが発生しました
    <ul>
    <% @delivery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<div class="container pt-4">
    <div class="row">
        <h3>注文情報入力</h3>
    </div>
    <div class="row">
        <div class="col-10 mx-auto pt-4">
            <%= form_with model: @order, url: public_confirm_path, local:true do |f| %>
            <div>
                <h3><%= f.label :payment_method, "支払方法" %></h3>
                <div class="ml-3">
                    <%= f.radio_button :payment_method, "credit_card", checked: "checked" %>
                    <%= f.label :payment_method, "クレジットカード" %>
                </div>
                <div class="ml-3">
                    <%= f.radio_button :payment_method, "transfer" %>
                    <%= f.label :payment_method, "銀行振込" %>
                </div>
            </div>

            <div class="delivery-address-select pt-4">
                <h3><%= f.label :address, "お届け先" %></h3>
                <div class="ml-3">
                    <%= f.radio_button :address_option, 0, checked: "checked" %>
                    <%= f.label :address, "ご自身の住所" %>
                    <br>
                    <%= "〒#{current_customer.postal_code} #{current_customer.address}" %>
                    <br>
                    <%= current_customer.last_name + current_customer.first_name %>
                </div>
                <div class="ml-3 mt-3">
                    <%= f.radio_button :address_option, 1 %>
                    <%= f.label :address, "登録済住所から選択" %>
                    <br>
                    <%= f.select :address_id, options_from_collection_for_select(current_customer.addresses.all, :id, :address), size: 50 %>
                </div>
                <div class="ml-3 mt-3 pt-2">
                    <%= f.radio_button :address_option, 2 %>
                    <%= f.label :address, "新しいお届け先" %>
                    <div class="row">
                        <div class="col-4 mt-2">
                            <%= f.label :postal_code, "郵便番号" %>
                        </div>
                        <div>
                            <%= f.text_field :postal_code, placeholder: "8110011", size: 25 %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mt-2">
                            <%= f.label :address, "住所" %>
                        </div>
                        <div>
                            <%= f.text_field :address, placeholder: "〇〇県〇〇市/郡〇〇区/町/村", size: 40 %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mt-2">
                            <%= f.label :name, "宛先" %>
                        </div>
                        <div>
                            <%= f.text_field :name, placeholder: "名前", size: 25 %>
                        </div>
                    </div>
                </div>

                <div class="p-5 mb-5 text-center">
                    <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
   </div>
    </div>
</div>